
### Collecting information on the CLI

To see the header of the file that is of our interest, we can use the `head` command.

In [1]:
import numpy as np
import pandas as pd

Additionally, you can make use of the `glob` module to glob for certain file patterns. We will store the filename of the CSV file we are interested in, in a variable called `local_file`.

In [2]:
from glob import glob
# glob is useful in any situation where your program needs to look for a list of files on the filesystem with names matching a pattern. If you need a list of filenames that all have a certain extension, prefix, or any common string in the middle, use glob instead of writing code to scan the directory contents yourself.

local_files = glob('./*API_EN*.csv')
local_file = local_files[2]
local_files

['./API_EN.ATM.CO2E.KT_DS2_en_csv_v2_566461.csv',
 './Metadata_Indicator_API_EN.ATM.CO2E.KT_DS2_en_csv_v2_566461.csv',
 './Metadata_Country_API_EN.ATM.CO2E.KT_DS2_en_csv_v2_566461.csv',
 './API_EN.ATM.CO2E.KT_DS2_en_csv_v2_10473877.csv']

In [3]:
%%bash
head ./*API_EN.ATM.CO2*.csv

==> ./API_EN.ATM.CO2E.KT_DS2_en_csv_v2_10473877.csv <==
﻿"Data Source","World Development Indicators",

"Last Updated Date","2019-01-30",

"Country Name","Country Code","Indicator Name","Indicator Code","1960","1961","1962","1963","1964","1965","1966","1967","1968","1969","1970","1971","1972","1973","1974","1975","1976","1977","1978","1979","1980","1981","1982","1983","1984","1985","1986","1987","1988","1989","1990","1991","1992","1993","1994","1995","1996","1997","1998","1999","2000","2001","2002","2003","2004","2005","2006","2007","2008","2009","2010","2011","2012","2013","2014","2015","2016","2017","2018",
"Aruba","ABW","CO2 emissions (kt)","EN.ATM.CO2E.KT","","","","","","","","","","","","","","","","","","","","","","","","","","","179.683","447.374","612.389","649.059","1639.149","1683.153","1463.133","1595.145","1613.48","1668.485","1690.487","1745.492","1796.83","1807.831","2379.883","2409.219","2438.555","2563.233","2618.238","2720.914","2717.247","2823.59","2658.575","2629.239","2508.228","2500.894","1349.456","861.745","872.746","","","","",
"Afghanistan","AFG","CO2 emissions (kt)","EN.ATM.CO2E.KT","414.371","491.378","689.396","707.731","839.743","1008.425","1092.766","1283.45","1224.778","942.419","1672.152","1895.839","1532.806","1639.149","1917.841","2126.86","1987.514","2390.884","2159.863","2240.537","1760.16","1983.847","2101.191","2522.896","2830.924","3509.319","3142.619","3124.284","2867.594","2775.919","2614.571","2438.555","1393.46","1345.789","1294.451","1243.113","1177.107","1096.433","1041.428","821.408","773.737","817.741","1070.764","1195.442","949.753","1327.454","1650.15","2273.54","4206.049","6769.282","8463.436","12240.446","10755.311","10014.577","9809.225","","","","",
"Angola","AGO","CO2 emissions (kt)","EN.ATM.CO2E.KT","550.05","454.708","1180.774","1151.438","1224.778","1188.108","1554.808","993.757","1672.152","2786.92","3582.659","3410.31","4506.743","4880.777","4873.443","4415.068","3285.632","3534.988","5412.492","5504.167","5346.486","5280.48","4649.756","5115.465","5009.122","4701.094","4660.757","5815.862","5130.133","5009.122","5115.465","5089.796","5196.139","5775.525","3890.687","10975.331","10458.284","7381.671","7308.331","9156.499","9541.534","9732.218","12665.818","9064.824","18793.375","19156.408","22266.024","25151.953","25709.337","27792.193","29057.308","30340.758","33399.036","32617.965","34763.16","","","","",
"Albania","ALB","CO2 emissions (kt)","EN.ATM.CO2E.KT","2024.184","2280.874","2464.224","2082.856","2016.85","2174.531","2552.232","2680.577","3072.946","3245.295","3744.007","4352.729","5643.513","5291.481","4345.395","4594.751","4950.45","5720.52","6494.257","7587.023","5170.47","7341.334","7308.331","7631.027","7825.378","7880.383","8056.399","7444.01","7326.666","8984.15","5515.168","4286.723","2515.562","2335.879","1925.175","2086.523","2016.85","1543.807","1752.826","2984.938","3021.608","3223.293","3751.341","4294.057","4165.712","4253.72","3898.021","3927.357","4374.731","4378.398","4598.418","5240.143","4910.113","5064.127","5716.853","","","","",
"Andorra","AND","CO2 emissions (kt)","EN.ATM.CO2E.KT","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","407.037","407.037","407.037","410.704","407.037","425.372","454.708","465.709","491.378","513.38","524.381","524.381","531.715","535.382","561.051","575.719","546.383","539.049","539.049","517.047","517.047","491.378","487.711","476.71","462.042","","","","",

==> ./API_EN.ATM.CO2E.KT_DS2_en_csv_v2_566461.csv <==
﻿"Data Source","World Development Indicators",

"Last Updated Date","2019-10-28",

"Country Name","Country Code","Indicator Name","Indicator Code","1960","1961","1962","1963","1964","1965","1966","1967","1968","1969","1970","1971","1972","1973","1974","1975","1976","1977","1978","1979","1980","1981","1982","1983","1984","1985","1986","1987","1988","1989","1990","1991","1992","1993","1994","1995","1996","1997","1998","1999","2000","2001","2002","2003","2004","2005","2006","2007","2008","2009","2010","2011","2012","2013","2014","2015","2016","2017","2018","2019",
"Aruba","ABW","CO2 emissions (kt)","EN.ATM.CO2E.KT","","","","","","","","","","","","","","","","","","","","","","","","","","","179.683","447.374","612.389","649.059","1639.149","1683.153","1463.133","1595.145","1613.48","1668.485","1690.487","1745.492","1796.83","1807.831","2379.883","2409.219","2438.555","2563.233","2618.238","2720.914","2717.247","2823.59","2658.575","2629.239","2508.228","2500.894","1349.456","861.745","872.746","","","","","",
"Afghanistan","AFG","CO2 emissions (kt)","EN.ATM.CO2E.KT","414.371","491.378","689.396","707.731","839.743","1008.425","1092.766","1283.45","1224.778","942.419","1672.152","1895.839","1532.806","1639.149","1917.841","2126.86","1987.514","2390.884","2159.863","2240.537","1760.16","1983.847","2101.191","2522.896","2830.924","3509.319","3142.619","3124.284","2867.594","2775.919","2614.571","2438.555","1393.46","1345.789","1294.451","1243.113","1177.107","1096.433","1041.428","821.408","773.737","817.741","1070.764","1195.442","949.753","1327.454","1650.15","2273.54","4206.049","6769.282","8463.436","12240.446","10755.311","10014.577","9809.225","","","","","",
"Angola","AGO","CO2 emissions (kt)","EN.ATM.CO2E.KT","550.05","454.708","1180.774","1151.438","1224.778","1188.108","1554.808","993.757","1672.152","2786.92","3582.659","3410.31","4506.743","4880.777","4873.443","4415.068","3285.632","3534.988","5412.492","5504.167","5346.486","5280.48","4649.756","5115.465","5009.122","4701.094","4660.757","5815.862","5130.133","5009.122","5115.465","5089.796","5196.139","5775.525","3890.687","10975.331","10458.284","7381.671","7308.331","9156.499","9541.534","9732.218","12665.818","9064.824","18793.375","19156.408","22266.024","25151.953","25709.337","27792.193","29057.308","30340.758","33399.036","32617.965","34763.16","","","","","",
"Albania","ALB","CO2 emissions (kt)","EN.ATM.CO2E.KT","2024.184","2280.874","2464.224","2082.856","2016.85","2174.531","2552.232","2680.577","3072.946","3245.295","3744.007","4352.729","5643.513","5291.481","4345.395","4594.751","4950.45","5720.52","6494.257","7587.023","5170.47","7341.334","7308.331","7631.027","7825.378","7880.383","8056.399","7444.01","7326.666","8984.15","5515.168","4286.723","2515.562","2335.879","1925.175","2086.523","2016.85","1543.807","1752.826","2984.938","3021.608","3223.293","3751.341","4294.057","4165.712","4253.72","3898.021","3927.357","4374.731","4378.398","4598.418","5240.143","4910.113","5064.127","5716.853","","","","","",
"Andorra","AND","CO2 emissions (kt)","EN.ATM.CO2E.KT","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","407.037","407.037","407.037","410.704","407.037","425.372","454.708","465.709","491.378","513.38","524.381","524.381","531.715","535.382","561.051","575.719","546.383","539.049","539.049","517.047","517.047","491.378","487.711","476.71","462.042","","","","","",

==> ./Metadata_Country_API_EN.ATM.CO2E.KT_DS2_en_csv_v2_566461.csv <==
﻿"Country Code","Region","IncomeGroup","SpecialNotes","TableName",
"ABW","Latin America & Caribbean","High income","","Aruba",
"AFG","South Asia","Low income","","Afghanistan",
"AGO","Sub-Saharan Africa","Lower middle income","","Angola",
"ALB","Europe & Central Asia","Upper middle income","","Albania",
"AND","Europe & Central Asia","High income","","Andorra",
"ARB","","","Arab World aggregate. Arab World is composed of members of the League of Arab States.","Arab World",
"ARE","Middle East & North Africa","High income","","United Arab Emirates",
"ARG","Latin America & Caribbean","Upper middle income","","Argentina",
"ARM","Europe & Central Asia","Upper middle income","","Armenia",

==> ./Metadata_Indicator_API_EN.ATM.CO2E.KT_DS2_en_csv_v2_566461.csv <==
﻿"INDICATOR_CODE","INDICATOR_NAME","SOURCE_NOTE","SOURCE_ORGANIZATION",
"EN.ATM.CO2E.KT","CO2 emissions (kt)","Carbon dioxide emissions are those stemming from the burning of fossil fuels and the manufacture of cement. They include carbon dioxide produced during consumption of solid, liquid, and gas fuels and gas flaring.","Carbon Dioxide Information Analysis Center, Environmental Sciences Division, Oak Ridge National Laboratory, Tennessee, United States.",

We can see that the actual CSV header is on line five. To extract only the header row, we can use the stream editor *sed*, see `man sed`. The argument `'5!d'` tells `sed`, that we are only interested in the fifth line.

In [4]:
%%bash
# sed is a cli application that can filter text from pipeline (inputstream or a file)
# Sed Linux command doesn’t update your data. It only sends the changed text to STDOUT
# To know more about the sed tool: https://www.geeksforgeeks.org/sed-command-in-linux-unix-with-examples/
sed '5!d' API_EN.ATM.CO2E.KT_DS2_en_csv_v2_10473877.csv # sed delete all lines except line 5 (sed '5d' filename.ext (would delete only line 5))

"Country Name","Country Code","Indicator Name","Indicator Code","1960","1961","1962","1963","1964","1965","1966","1967","1968","1969","1970","1971","1972","1973","1974","1975","1976","1977","1978","1979","1980","1981","1982","1983","1984","1985","1986","1987","1988","1989","1990","1991","1992","1993","1994","1995","1996","1997","1998","1999","2000","2001","2002","2003","2004","2005","2006","2007","2008","2009","2010","2011","2012","2013","2014","2015","2016","2017","2018",

To get the two lines -one for Denmark and one for Uruguay repectively- holding the CO2 emission in tons, we can use the grep command, see `man grep`.

In [5]:
%%bash
grep -E "DNK|URY" API_EN.ATM.CO2E.KT_DS2_en_csv_v2_10473877.csv

"Denmark","DNK","CO2 emissions (kt)","EN.ATM.CO2E.KT","29779.707","31734.218","36926.69","40707.367","43189.926","44337.697","50127.89","49075.461","53325.514","59401.733","62100.645","57062.187","59643.755","59266.054","55078.34","55778.737","60135.133","61847.622","61117.889","62999.06","60369.821","51789.041","53695.881","50175.561","50861.29","60072.794","58903.021","58341.97","55107.676","48785.768","50230.566","60270.812","54322.938","57065.854","61000.545","57172.197","72181.228","61557.929","59552.08","55148.013","51330.666","52918.477","52049.398","55998.757","50600.933","47095.281","54986.665","50256.235","46933.933","44510.046","46640.573","40645.028","36427.978","38532.836","33498.045","","","","",
"Uruguay","URY","CO2 emissions (kt)","EN.ATM.CO2E.KT","4319.726","4121.708","4011.698","4319.726","4558.081","5522.502","5405.158","4884.444","4884.444","5595.842","5742.522","5808.528","6076.219","5775.525","5683.85","5969.876","5896.536","5650.847","5742.522","6277.904","5837.864","5375.822","4873.443","3817.347","3450.647","3296.633","3179.289","3560.657","4807.437","4880.777","3993.363","4554.414","5170.47","4466.406","4066.703","4591.084","5441.828","5555.505","5687.517","6725.278","5306.149","5089.796","4620.42","4598.418","5610.51","5775.525","6648.271","6002.879","8265.418","8060.066","6387.914","7763.039","8694.457","7587.023","6747.28","","","","",

### Executing OS Commands from Python


With the help of the `subprocess` module allows us to execute shell commands and to read what the process was writing to standard out and standard error.

https://docs.python.org/3/library/subprocess.html

In [6]:
import subprocess


cmd = 'sed 5!d {}'.format(local_file).split()
out, err = subprocess.Popen(cmd, stdout=subprocess.PIPE, 
                            stderr=subprocess.STDOUT).communicate()
# Since we are getting the output as a byte literal, we have to decode it into string
header_cols = out.splitlines()[0].decode('UTF-8').split(',')
header_cols = [h.replace('"', '') for h in header_cols]
header_cols

['ALB', 'Europe & Central Asia', 'Upper middle income', '', 'Albania', '']

In [7]:
%%bash
ls -ltr *.csv

-rw-rw-r-- 1 tha tha     270 Nov 12 15:25 teams.csv
-rw-rw-r-- 1 tha tha  371300 Dec  3 16:06 cphledighed.csv
-rwx------ 1 tha tha 9852462 Dec 12 19:04 befkbhalderstatkode.csv
-rwx------ 1 tha tha  177069 Dec 15 23:34 API_EN.ATM.CO2E.KT_DS2_en_csv_v2_10473877.csv
-rw-rw-r-- 1 tha tha     466 Dec 17 11:33 Metadata_Indicator_API_EN.ATM.CO2E.KT_DS2_en_csv_v2_566461.csv
-rw-rw-r-- 1 tha tha  177911 Dec 17 11:33 API_EN.ATM.CO2E.KT_DS2_en_csv_v2_566461.csv
-rw-rw-r-- 1 tha tha   31364 Dec 17 11:33 Metadata_Country_API_EN.ATM.CO2E.KT_DS2_en_csv_v2_566461.csv

In [8]:
%%bash

ls -ltrh | tail

-rw-rw-r-- 1 tha tha  42K Dec 15 23:58 04xNumpy.ipynb
-rwx------ 1 tha tha 117K Dec 15 23:58 04 Numpy.ipynb
-rw-rw-r-- 1 tha tha 8.8K Dec 17 00:02 08 Data Persistence.ipynb
-rw-rw-r-- 1 tha tha  18K Dec 17 11:03 05 DateTime.ipynb
-rw-rw-r-- 1 tha tha  72K Dec 17 11:32 API_EN.ATM.CO2E.KT_DS2_en_csv_v2_566461.zip
-rw-rw-r-- 1 tha tha  466 Dec 17 11:33 Metadata_Indicator_API_EN.ATM.CO2E.KT_DS2_en_csv_v2_566461.csv
-rw-rw-r-- 1 tha tha 174K Dec 17 11:33 API_EN.ATM.CO2E.KT_DS2_en_csv_v2_566461.csv
-rw-rw-r-- 1 tha tha  31K Dec 17 11:33 Metadata_Country_API_EN.ATM.CO2E.KT_DS2_en_csv_v2_566461.csv
-rwx------ 1 tha tha  56K Dec 17 12:51 05 pandas.ipynb
-rw-rw-r-- 1 tha tha  30K Dec 17 12:55 05 Subprocess.ipynb

Now, let's get in a similar way the line of the CSV file containing the time series corresponding to Danmark's and Uruguay's CO2 emissions.

In [9]:
cmd = ['grep', '-E', 'DNK|URY', local_file]
out, err = subprocess.Popen(cmd, stdout=subprocess.PIPE, 
                            stderr=subprocess.STDOUT).communicate()

In [10]:
lines = out.decode('UTF-8').splitlines()
lines = [l.split(',') for l in lines]
lines = [[c.replace('"', '') for c in l] for l in lines]
lines

[['DNK', 'Europe & Central Asia', 'High income', '', 'Denmark', ''],
 ['URY', 'Latin America & Caribbean', 'High income', '', 'Uruguay', '']]

We are now ready to go to create two time series of CO2 emissions for Danmark and Uruguay repectively.
We are going to use Pandas `Series`, since they are one-dimensional labeled arrays, and thus we can create one for Denmark and Uruquay respectively.

In [11]:
print(header_cols)
print(lines)

['ALB', 'Europe & Central Asia', 'Upper middle income', '', 'Albania', '']
[['DNK', 'Europe & Central Asia', 'High income', '', 'Denmark', ''], ['URY', 'Latin America & Caribbean', 'High income', '', 'Uruguay', '']]

Since our data and the corresponding indexes are still all strings we have to convert them to floats and integers repectively. We do so using two different mechanisms. Once, creation of typed NumPy arrays and on the other hand via a Pandas method `convert_objects`, which converts strings to numerical values of a suitable type.

In [12]:
# reference to check graph: https://www.klimadebat.dk/grafer_co2udledning.php
Albania = header_cols[4:-1]
Denmark = lines[0][4:-1]
ts_dk = pd.Series(Denmark, index=np.asarray(header_cols[4:-1], dtype=int))
ts_dk = pd.to_numeric(ts_dk)
ts_dk.loc[1960]

ValueError: invalid literal for int() with base 10: 'Albania'

In [ ]:
ts_dk.plot()

Now we create a time series for the corresponding Uruguaian time series.

In [ ]:
ts_ury = pd.Series(lines[1][4:-1], index=np.asarray(header_cols[4:-1], dtype=int))
ts_ury = pd.to_numeric(ts_ury)
ts_ury.plot()